<strong>Olá {{provider}}</strong>
<p>Houve um cancelamento de horário, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong>{{user}} <br />
  <strong>Horário: </strong>{{date}} <br />
  <br />
  <small>
    Esse horário encontra-se disponível para futuros agendamentos
  </small>
</p>
